

.navbar .nav-item .form-group {


 margin: 15px;


}

.CadastroIndex {

margin: 30px;


}
.descricao-site {


    margin: 30px;



}
.descricao-site .fonte {

    font-size: 28px;
    

}

.CadastroIndex .form-group-botão {

    margin-top: 15px;
 

}

.card {


width: 50%;
height: 95%;
margin: 0 auto;
border:solid 1px;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.53);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.53);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.53);

}
.mid   {

    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    


}



.copyright{
    background-color:#f0f0f0;
}

.copyright p{
   margin:15px 0px;
}

footer{
	background-color:#222222;
	padding: 60px 0px;
}

footer .menu li a{
	color:#b1aca1;
	padding:10px;
	text-decoration:none;
}

footer .menu li a:hover{
	color:#7dabdb;
}

.fa.fa-facebook , 
.fa.fa-dropbox, 
.fa.fa-flickr , 
.fa.fa-github , 
.fa.fa-linkedin ,
.fa,fa-tumblr ,
.fa.fa-google-plus , 
.fa.fa-tumblr {
	color:#b1aca1;
	font-size:20px;
	padding:10px;
}

.fa.fa-facebook:hover, 
.fa.fa-dropbox:hover,
.fa.fa-flickr:hover,
.fa.fa-github:hover, 
.fa.fa-linkedin:hover,
.fa,fa-tumblr:hover,
.fa.fa-google-plus:hover, 
.fa.fa-tumblr:hover {
	color:#6794c2;
}