/* .corpo{
    margin-top: 4px;
}

.corpo .capa .cardcapa 
{

    
    max-width: 85%;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: .25rem;


} */
/* .corpo .capa .cardcapa .capa-imagem
{
    max-width: 100%;
    max-height: 170px;
} */

#img-grupo{

    
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.7);

}
.foto-grupo {

    margin-top: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

/* .avatar-feed {
    max-width: 85%;
    margin: 0 auto;

} */

/* .avatar-feed .nome-da-pagina  {

    margin-top: 32px;
    margin-left: 2px;
    word-wrap: break-word;
    width: 9em;
   
}
#check-original {

color: #3db0f7;


/* } */
/* .avatar-feed .nome-da-pagina h5 {

   margin: 0;
   
}
.avatar-feed .nome-da-pagina p {

    margin: 0;
   
} */ */


/* nome e usuario/*
/*meio /*
*/
.row .card .cardpost {

    margin-top: 15px;
    position: relative;
    
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  
  }
    
  
  
  .card a {
  
    
    font-weight: bold;
  
  }

 /* .avatar-feed .info-grupo{

    margin-top: 50px;

  } */

  /* nome Teste desse carai  /*
*/
.cardpost .nav {
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 23px;
    margin-top: -3px;
    /* margin-bottom: -1px; */
}
.card-informacoes {

    width: 100%;
    height: 64px;
    position: relative;

}

.card-informacoes .nav>li>a:hover {


 
    border-bottom: 3px solid  rgb(90, 84, 173);
    
  

}


.card-informacoes .nav .nav-item .nav-link p {

    width: 6em;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: -4px;
    
}
#lista .nav-link p {

    width: 3em;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: -4px;
}
.card-informacoes .nav-item .nav-link.active {
    border-bottom: 3px solid  rgb(90, 84, 173);

    
    }

      /* botão de seguir e  /*
*/

.card-informacoes .nav .botao-de-seguir .btn-custom {
	
    border-radius: 50px;
    
}
.card-informacoes .nav .botao-de-seguir .btn-secondary

{
    
    background-color:  rgb(90, 84, 173);
}
.card-informacoes .nav .botao-de-seguir .btn-danger

{
    
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    
}


.card-informacoes .nav .botao-de-seguir {
    margin-left: 48%;
    margin-top: 18px;
    
}

     /* card defeed foto e nome   /*
*/


.cardpost .feed-de-grupo  {

    max-width: 85%;
    margin: 0 auto;

}
.cardpost .feed-de-grupo .foto-usuario-grupo {

    margin-left: 25px;
    margin-top: 8px;

}
.cardpost .feed-de-grupo .foto-usuario-grupo a>p {
    margin-top: 19px;
    /* margin-left: -28px; */
    float: left;
    
    margin-left: 4px;
    float: left;
    color: rgb(90, 84, 173);
    


}



.cardpost .feed-de-grupo .foto-usuario-grupo .opcoes a {
   
     
            color: #6c757d;
            float: right;
            margin-right: 24px;
            margin-top: 10px;
            text-decoration:none; 

        
}
.cardpost .feed-de-grupo .foto-usuario-grupo .opcoes a:hover {
   
    color: rgb(90, 84, 173);
            
        
}


#img-feed-grupo {

    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.7);
    float: left;
    margin-left: 27px;
        margin-top: 10px;


}


    /* card defeed publicações do tipo texto/*
*/

 .cardpost .publicacao-feed-texto p {

     
    margin-top: 6px;
    margin-left: 26px;
    /* margin-right: 16px; */
    width: 24em;
    word-wrap: break-word;
    
}
 .cardpost .publicacao-feed-texto .titulo h6{

    margin-left: 26px;
    /* margin-right: 16px; */
    width: 24em;
    word-wrap: break-word;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;

    
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
    /* margin-bottom: 57px; */
    margin-top: 10px;
}
   /* tags /*
*/

.cardpost .publicacao-feed-texto .tags a{

   
  
    
    float: left;
    /* margin-left: 13px; */
    text-align: center;
    /* margin: 8px; */
    margin-right: 10px;
  
    color:#6c757d;
    font-size: 11px;

}
    /* card defeed publicações do tipo texto e foto/*
*/


#foto-exercico {

    width: 50%;
    border-radius: 1%;
    border: 1px solid rgba(0,0,0,.125);
    

  
}

.cardpost .publicacao-feed-foto .tags a{

   
  
    
    float: left;
    color:#6c757d;
    font-size: 11px;
    margin-right: 0px;
    margin-left: 14px;


}





.cardpost .publicacao-feed-foto .card-texto-foto{

   
  margin: 10px;
  padding: 0px;



}

.cardpost .publicacao-feed-foto .card-texto-foto .texto-ao-lado h6 {


   float: right;
    width: 46%;
    margin-top: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  


}


   /* card defeed publicações do tipo video*

*/


.cardpost .publicacao-feed-video .titulo h6{

     margin-bottom: 14px;  
    margin-left: 26px;
    /* margin-right: 16px; */
    width: 24em;
    word-wrap: break-word;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;

}

.cardpost .publicacao-feed-video .card-video {

        margin: 2px;
        border: 3px solid rgba(0,0,0,.125);


}
.cardpost .publicacao-feed-video .tags a{

    float: left;
    color:#6c757d;
    font-size: 11px;
    margin-right: 0px;
    margin-left: 14px;


}




   /* fooster /*
*/

.cardpost .foster p{

    float: left;
    margin-left: 26px;
    color: rgb(90, 84, 173);
    margin-right: 0px;
    text-decoration:none; 
    

}

.cardpost .foster .foster-resolver a{

 

    color: rgb(90, 84, 173);
    text-decoration:none; 
    
    

}
.cardpost .foster .status h5{

 

    color: #dc3545;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    

}

.cardpost .foster p:hover{

   
    color:#6c757d;
    cursor: pointer;
}

.cardpost .foster .foster-resolver a:hover{

   
    color:#6c757d;
    cursor: pointer;
}

