
.row .card {

  margin-top: 15px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

}
  
.card .name-foto img{

  width: 75px;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 35px;
  margin-bottom: 40px;


  


}
.card .name-foto a {

  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  float: right;
  margin-top: -95px;
  margin-right: 28px;

  
  

}

.card .name-foto p {
  
 color:  rgb(90, 84, 173);
 float: right;
 margin-top: 35px;
 margin-right: 26px;
  

}
.card a {

  color: rgb(90, 84, 173);
  font-weight: bold;

}

.navcard .card .nav-pills .nav-link {

  border-bottom: 3px solid #f3f3f7;
  margin-bottom: 2px;
  text-align: center;

}

.navcard .card .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #f9f9fb;
  color:  black;
  border-right: 3px solid  rgb(90, 84, 173);
 
}


#fa-estrelas {

color: rgb(255,215,0);

}
#fa-estrelas1 {

color: rgb(255,215,0);

}
#fa-estrelas2 {

color: rgb(255,215,0);

}
#fa-estrelas3 {

color: rgb(233,235,238);;

}
#fa-estrelas4 {

color: rgb(233,235,238);

}


.card .card-corpo {

margin-bottom: 35px;

}

.card .raking-geral {

margin-top: 10px;
text-align: center;


}

.card .usuarios-no-topo .foto-raking  img {

    border-radius: 50px;
    border: 1px solid rgb(233,235,238);
    width: 25px;
    margin-left: 10px;
    margin-bottom: 15px;

}
.card .usuarios-no-topo .nome-raking a {
    
    font-size: 13px;
    margin-top: 4px;

}
.card .usuarios-no-topo .pontos p {
    
    font-size: 13px;
    margin-top: 4px;

    

}


.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}

.pageconfig .card .nav-pills .nav-link.active, .nav-pills .show>.nav-link {

  background: #fff;
  color:  black;
  border-bottom: 2px  solid rgb(90, 84, 173);
 

}

