.corpo{
    margin-top: 4px;
}

.corpo .capa .cardcapa 
{

    
    max-width: 85%;
    margin: auto;
    border: 2px solid #fff;
    border: 3px solid rgba(255,255,255,0.7);
    overflow: hidden;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  
    

}
/* mudei a border card*/
.corpo .capa .cardcapa .cardheader
{
    
   
    background: url("https://66.media.tumblr.com/99370a732506ac7b78cf84902af645ce/tumblr_nfkfurnLhW1s75y9to10_1280.png");
    background-size: cover;
    height: 210px;
    
}

.corpo .avatar-feed {
    max-width: 82%;
    margin: 0 auto;

}

.avatar-feed .avatar-imagem {

    margin-top: -60px;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.7);
    

}

.avatar-feed .nome-usuario  {

    margin-top: 10px;
    margin-left: 18px;
    word-wrap: break-word;
    width: 9em;
   
}
.avatar-feed .nome-usuario h6 {

   margin: 0;
   
}
.avatar-feed .nome-usuario p {

   margin: 0;
   
}
.avatar-feed .mensagem-adicionar{

   margin-top: 15px;
   margin-left: 25px;
   margin-bottom: 25px;

}
.avatar-feed .amigos-adicionados .lista-de-amigos .amigos  {

 
 margin-left: 10px;
 width: 80%;

}
.avatar-feed .amigos-adicionados .lista-de-amigos .amigos .imagem-amigo  {

 width: 40px;
 height: 40px;
 border-radius: 50%;
 float: left;
 margin-top: 5px;
 margin-left: 5px;

}
.avatar-feed .amigos-adicionados .nome-icon-amigos  {

    margin-left: 18px;
}
/* nome e usuario/*
/*meio /*
*/
.row .card {

    margin-top: 15px;
    position: relative;

    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  
  }
    
  
  
  .card a {
  
    color:#6c757d;
    font-weight: bold;
  
  }

  .informa-perfil .gedf-card .header .nav {

    padding: 15px;
   


  }
  .informa-perfil .gedf-card .header .nav .nav-item>a:hover{

    color:rgb(90, 84, 173);
    border-bottom: 3px solid  rgb(90, 84, 173);



  }
  .informa-perfil .gedf-card .header  .nav-link.active {
    border-bottom: 3px solid  rgb(90, 84, 173);
    color:rgb(90, 84, 173);
    
    }
    
.informa-perfil .gedf-card .header .nav-link {
        width: 8em;
        text-align: center;
    }

/* publicações de texto */


.row .card.gedf-card {

        background-color: rgb(233,235,238);
        border: 0px solid rgba(0,0,0,.125);
      
        
    
}

.row .card .card-publicao {

    margin: 16px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

#img-feed-grupo {

    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.7);
    float: left;
   

}

.body .card-publicao .foto-usuario-grupo {

    margin-left: 36px;
    margin-top: 8px;
    margin-bottom: 14px;

}
.body .card-publicao .foto-usuario-grupo a>p {
    margin-top: 25px;
    /* margin-left: -28px; */
    float: left;
    margin-left: 7px;
    float: left;
    color: rgb(90, 84, 173);
    font-size: 18px;
    /* color: black; */
}



.body .card-publicao .foto-usuario-grupo .opcoes a {
   
     
            color: #6c757d;
            float: right;
            margin-right: 38px;
            margin-top: 15px;
            text-decoration:none; 

        
}
.body .card-publicao .foto-usuario-grupo .opcoes a:hover {
   
    color: rgb(90, 84, 173);
            
        
}
.body .card-publicao .publicacao-feed-texto p {
    margin-top: 6px;
    margin-left: 47px;
    /* margin-right: 16px; */
    width: 34em;
    word-wrap: break-word;
    margin-bottom: 10px;
    
}
.body .card-publicao .publicacao-feed-texto .titulo h6 {
    margin-left: 47px;
    /* margin-right: 16px; */
    width: 24em;
    word-wrap: break-word;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
.body .card-publicao .publicacao-feed-texto .tags a {
    float: left;
    /* margin-left: 13px; */
    text-align: center;
    /* margin: 8px; */
    margin-right: 6px;
    color: #6c757d;
    font-size: 12px;
}

  /* fooster /*
*/

.body .card-publicao .foster p {
    float: left;
    margin-left: 47px;
    color: rgb(90, 84, 173);
    margin-right: 2px;
    text-decoration: none;
}
.body .card-publicao  .foster .foster-resolver a{

 

    color: rgb(90, 84, 173);
    text-decoration:none; 
    
    

}
.body .card-publicao  .foster .status h5{

 

    color: #dc3545;
    float: right;
    margin-right: 34px;
    cursor: pointer;
    

}

.body .card-publicao .foster p:hover{

   
    color:#6c757d;
    cursor: pointer;
}

.body .card-publicao  .foster .foster-resolver a:hover{

   
    color:#6c757d;
    cursor: pointer;
}

/* grupos  */




