.corpo{
    margin-top: 4px;
}

.corpo .capa .cardcapa 
{

    
    max-width: 85%;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: .25rem;


}
.corpo .capa .cardcapa .capa-imagem
{
    max-width: 100%;
    max-height: 170px;
}

.corpo .avatar-feed {
    max-width: 80%;
    margin: 0 auto;

}

.avatar-feed .avatar-imagem {

    margin-top: -60px;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.7);
    

}

.avatar-feed .nome-usuario  {

    margin-top: 10px;
    margin-left: 18px;
    word-wrap: break-word;
    width: 9em;
   
}
.avatar-feed .nome-usuario h6 {

   margin: 0;
   
}
.avatar-feed .nome-usuario p {

   margin: 0;
   
}
.avatar-feed .mensagem-adicionar{

   margin-top: 15px;
   margin-left: 25px;
   margin-bottom: 25px;

}
.avatar-feed .amigos-adicionados .lista-de-amigos .amigos  {

 
 margin-left: 10px;
 width: 80%;

}
.avatar-feed .amigos-adicionados .lista-de-amigos .amigos .imagem-amigo  {

 width: 40px;
 height: 40px;
 border-radius: 50%;
 float: left;
 margin-top: 5px;
 margin-left: 5px;

}
.avatar-feed .amigos-adicionados .nome-icon-amigos  {

    margin-left: 18px;
}
/* nome e usuario/*
/*meio /*
*/
.row .card {

    margin-top: 15px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  
  }
    
  
  
  .card a {
  
    color: rgb(90, 84, 173);
    font-weight: bold;
  
  }
