html,

body {
	height: 100%;
}
.col-auto
{

    padding: 30px;
}

.view-account{
    background:#FFFFFF;
    margin-top:20px;
}
.view-account .pro-label {
    font-size: 13px;
    padding: 4px 5px;
    position: relative;
    top: -5px;
    margin-left: 10px;
    display: inline-block
}

.view-account .side-bar {
    padding-bottom: 30px
}

.view-account .side-bar .user-info {
    text-align: center;
    margin-bottom: 15px;
    padding: 30px;
    color: #616670;
    border-bottom: 1px solid #f3f3f3
}

.view-account .side-bar .user-info .img-profile {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
    border-radius: 50%;
    margin-top: 10px;
}


.view-account .side-bar .user-info .meta li {
    margin-bottom: 8px;
}

.view-account .side-bar .user-info .meta li span {
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    text-align: right
}

.view-account .side-bar .user-info .meta li a {
    color: #616670
}


.view-account .side-bar .side-menu {
    text-align: center;
}

.view-account .side-bar .side-menu .nav {
    display: inline-block;
    margin: 0 auto
}

.view-account .side-bar .side-menu .nav>li {
    font-size: 14px;
    margin-bottom: 0;
    border-bottom: none;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px
}

.view-account .side-bar .side-menu .nav>li:last-child {
    margin-right: 0
}

.view-account .side-bar .side-menu .nav>li>a {
    display: inline-block;
    color: #9499a3;
    padding: 5px;
    border-bottom: 2px solid transparent
}

.view-account .side-bar .side-menu .nav>li>a:hover {
    color: #1E90FF;
    background: none;
}

.view-account .side-bar .side-menu .nav>li.active a {
    color: #1E90FF;
    border-bottom: 2px solid #1E90FF;
    background: none;
    border-right: none;
}


@media (min-width:992px) {

    .view-account .mail-subject .subject {
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .view-account .side-bar {
        position: absolute;
        width: 200px;
        min-height: 600px
    }
    .view-account .side-bar .user-info {
        margin-bottom: -10px;
        border-bottom: none;
        padding: 10px
    }
    
    .view-account .side-bar .side-menu {
        text-align: left;
    }
    .view-account .side-bar .side-menu .nav {
        display: block
    }
    .view-account .side-bar .side-menu .nav>li {
        display: block;
        float: none;
        font-size: 14px;
        border-bottom: 2px solid #f3f3f7;
        margin-right: 0;
        margin-bottom: 0;
    }
    .view-account .side-bar .side-menu .nav>li>a {
        display: block;
        color: #292a2b;
        padding: 10px 15px;
        padding-left: 30px;
    }

    .view-account .side-bar .side-menu .nav>li.active a {
        background: #f9f9fb;
        border-right: 2px solid #00acee;
        border-bottom: none
    }



}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: darkslategray;
    border-bottom: 2px solid #f3f3f7;


}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #00acee;
    background-color: #f3f3f7;
    border-right: 2px solid #00acee;


}

.profile-teaser-left {
    float: left; width: 20%; margin-right: 1%;
    
}
.profile-img img {
    height: 70px;
    width: 70px;
    border-radius: 50px; 
    margin-left: 6px;
    margin-top: -6px;
}

.profile-teaser-main {
    float: left; width: 79%;
    
}

.text-right {

    margin-top: -35px;
}
.list-group-item 
{

    border-bottom: 3px solid #f3f3f7;



}

.memberblock {
	width: 100%;
	float: left;
	clear: both;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 8px;
    
}

.member {
	width: 32%;
    float: left;
    margin: 2px 1% 2px 0;
    background: #ffffff;
    padding: 3px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}
.memmbername {
	position: absolute;
    bottom: -30px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    /* line-height: 30px; */
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: 11px;
    transition: 0.5s ease all;
}
.member:hover .memmbername {
	bottom: 0
}

.member:hover img {
	opacity: 0.8;
	transform: scale(1.2)
}

.panel-default>.panel-heading {

    background-color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    border-color: #e1eaef;
}

.member img {
    width: 100%;
    transition: 0.5s ease all;
    border-radius: 50px;
}
img {
    vertical-align: middle;
    border-style: none;
    
    
}

.page-header.amigos {
    position: relative;
    line-height: 22px;
    /* font-weight: 20; */
    font-size: 16px;
    margin-top: 15px;
    margin-left: 51px;
}
.page-header.paginas {
    position: relative;
    line-height: 22px;
    /* font-weight: 20; */
    font-size: 16px;
    margin-top: 15px;
    margin-left: 21px;
}

/* começa o card 6 da pagina perfilUsuário */

span.emblemas 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
figcaption.ratings
{
    margin-top: 20px;
    height: -15px;
    margin-top: -170px;
    margin-right: 26px;

}
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
}
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
}

.nome-do-usuario {

    padding-top: 11px;
    padding-left: 28px;
    font-size: 14px;


}

.small.status
{
    margin-top: -8px;
    font-size: 14px;
    color: #1E90FF;
    margin-bottom: 12px;
    
}



