.corpo{
    margin-top: 4px;
}

.corpo .capa .cardcapa 
{

    
    max-width: 85%;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: .25rem;


}
.corpo .capa .cardcapa .capa-imagem
{
    max-width: 100%;
    max-height: 170px;
}

#img-grupo{

    
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.7);
    

}
.foto-grupo {

    margin-top: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.corpo .avatar-feed {
    max-width: 80%;
    margin: 0 auto;

}

.avatar-feed .nome-da-pagina  {

    margin-top: 32px;
    margin-left: 2px;
    word-wrap: break-word;
    width: 9em;
   
}
#check-original {

color: #3db0f7;


}
.avatar-feed .nome-da-pagina h5 {

   margin: 0;
   
}
.avatar-feed .nome-da-pagina p {

    margin: 0;
   
}


/* nome e usuario/*
/*meio /*
*/
.row .card {

    margin-top: 15px;
    position: relative;
    
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  
  }
    
  
  
  .card a {
  
    
    font-weight: bold;
  
  }

  .avatar-feed .info-grupo{

    margin-top: 32px;

  }

  /* nome Teste desse carai  /*
*/
.nav {
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 23px;
    margin-top: -3px;
    /* margin-bottom: -1px; */
}
.card-informacoes {

    width: 100%;
    height: 64px;
    position: relative;

}

.card-informacoes .nav>li>a:hover {


 
    border-bottom: 3px solid  rgb(90, 84, 173);
    
  

}


.card-informacoes .nav .nav-item .nav-link p {

    width: 6em;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: -4px;
    
}
#lista .nav-link p {

    width: 3em;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: -4px;
}
.card-informacoes .nav-item .nav-link.active {
    border-bottom: 3px solid  rgb(90, 84, 173);
    
    }

      /* botão de seguir e  /*
*/

.card-informacoes .nav .botao-de-seguir .btn-custom {
	
    border-radius: 50px;
    
}
.card-informacoes .nav .botao-de-seguir .btn-secondary

{
    
    background-color:  rgb(90, 84, 173);
}
.card-informacoes .nav .botao-de-seguir .btn-danger

{
    
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    
}


.card-informacoes .nav .botao-de-seguir {
    margin-left: 46%;
    margin-top: 18px;
    
}

     /* card defeed foto e nome   /*
*/


.corpo .feed-de-grupo  {

    max-width: 80%;
    margin: 0 auto;

}
.corpo .feed-de-grupo .foto-usuario-grupo {

    margin-left: 22px;
    margin-top: 8px;

}

#img-feed-grupo {

    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.7);
    float: left;


}

.corpo .feed-de-grupo .cardpost .foto-usuario-grupo p{

   
  
    
    font-size: 15px;
    margin-top: 19px;
    color: rgb(90, 84, 173);
    /* margin-right: 313px; */
    margin-left: 4px;
    float: left;

}

.corpo .feed-de-grupo .cardpost .foto-usuario-grupo .hora-data {

   float: none;
   margin-left: 76%;

}

    /* card defeed publicações do tipo texto/*
*/

 .cardpost .publicacao-feed-texto p {

      margin-top: 10px;
    margin-top: 6px;
    margin-left: 26px;
    /* margin-right: 16px; */
    width: 24em;
    word-wrap: break-word;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
    /* margin-bottom: 57px; */
    margin-top: 0px;
}
   /* tags /*
*/

.cardpost .publicacao-feed-texto .tags a{

   
  
    
    float: left;
    /* margin-left: 13px; */
    text-align: center;
    /* margin: 8px; */
    margin-right: 10px;
    margin-bottom: 8px;
    color:#6c757d;
    font-size: 14px;

}


   /* fooster /*
*/

.cardpost .foster p{

    float: left;
    margin-left: 26px;
    color: rgb(90, 84, 173);
    margin-right: 0px;
    text-decoration:none; 
    

}

.cardpost .foster .foster-resolver a{

 

    color: rgb(90, 84, 173);
    text-decoration:none; 
    
    

}
.cardpost .foster .status h5{

 

    color: #dc3545;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    

}

.cardpost .foster p:hover{

   
    color:#6c757d;
    cursor: pointer;
}

.cardpost .foster .foster-resolver a:hover{

   
    color:#6c757d;
    cursor: pointer;
}

