.card-cabeça .img-feed{

    margin-left: 15px;
    margin-top: 12px;
    border-radius: 30px;
    border:2px solid rgb(255, 255, 255);
  
  
  }
  .card-cabeça .nome-feed
  {
  
      margin-left: 2px;
      padding: 2px;
      font-size: 15px
  
  }
  .card-img
  {
  
      margin-top: -10px;
  
  
  }
  
  #btn-coment
  {
      margin-left: 5px;
      /* width: 38px; */
      /* height: 36px; */
  }
  .img-feed-comentario
  {
  
      border-radius: 20px;
      margin-top: 10px;
      margin-left: 7px;
      margin-bottom: 20px;
  
  
  }
  .card-deck
  {
  
      border-top: 30px;
      margin-top: 15px;
  
  }
  #espaço-comentario
  {
  
      margin-top: 2px;
  
  
  }
  .feed-da-pagina {

    margin-top: 25px;

  }
  .reviews {
    color: #555;    
    font-weight: bold;
    margin: 9px auto 9px 10px;
}

.media-comment { margin-bottom: 20px; }

.card-comentarios {


    margin-left: 8px;
    margin-top: 14px;
    padding: 12px;
    
    background-color: #FFFFFF;
    border-style: 2px solid;
    border-radius: 20px;
    width: 400px;
}
.img-comentario 

{
    margin-top: 12px;


}

.feedprofile-img img {
    height: 70px;
    width: 70px;
    border-radius: 50px; 
    margin-left: 6px;
    margin-top: -6px;
}


