

.navbar .nav-item .form-group {


 margin: 15px;


}

.CadastroIndex {

margin: 30px;


}
.descricao-site {


    margin: 30px;



}
.descricao-site .fonte {

    font-size: 28px;
    

}

.CadastroIndex .form-group-botão {

    margin-top: 15px;
 

}

